#sidebar #main-nav ul li a {
	_padding: 10px 15px;
	_display: block;
	_margin-bottom: -11px !important;
}

.content-box-header {
	margin-top: 0;
}

ul.content-box-tabs {
	_position: relative;
	_top: 2px;
}

.action-button:hover {
	cursor: pointer;
}

.input-notification {
	position: relative;
	top: -5px;
	_background-position: left 6px;
}

#login-wrapper #login-content input {
	margin: 0;
}

* html #facebox_overlay {
	_position: absolute;
	_height: expression(document.body.scrollHeight > document.body.offsetHeight ?
		document.body.scrollHeight : document.body.offsetHeight + 'px');
}